body{
	line-height: 1px;
	background-color: #080575;
	border: 0;
	margin: 0;
	padding: 0;
}

body,
input,
textarea {
	font:Arial, "Lucida Sans", Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 16px;
}
legend{
	padding-left:10px;
}
#contenido {
	margin: 0 auto;
	width: 940px;
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}

#despliegue {
	margin: 0 auto;
	width: 1000px;
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
	
}

#despliegue2 {
	margin: 0 auto;
	width: 650px;
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
	border:#000 solid; 
}

#pagina {
	margin:  auto;
	width: 1050px;
	background: #FFF;
	margin-top: 10px;
	padding: 0 20px;
	border:#000 solid;
}


#header,
#footer {
	clear: both;
	width: 100%;
	padding: 1px 0 0 0;
}
#logo {
	clear: right;
	float: left;
	width: 600px;
}
#slogan {
	clear: right;
	float: right;
	width: 320px;
	padding: 15px 0 0 0;
}
#barrasuperior {
	background: #0182dd;
	display: block;
	float: left;
	margin: 10px auto;
	width: 1050px;
}
/*
#crolltable{ 
 background: #CEF6F5;
 overflow:auto;
 padding-right: 15px; padding-top: 15px; padding-left: 15px; padding-bottom: 15px;
 border-right: blue 1px solid; border-top: blue 1px solid;
 border-left: blue 1px solid; border-bottom: blue 1px solid;
 scrollbar-arrow-color : blue; scrollbar-face-color : #81DAF5;
 scrollbar-track-color :#3333333 ; position: absolute;
 height:650px; left: 2px; top: 20; width: 97%";
 }
*/
#main{
	clear: both;
	width: 100%;
	padding: 0px 0 0 0;
}
#registro{
	width:640px;
	margin:0 auto;
}
#contrato{
	background-color:#eee;
	font-size:12px;
	height:240px;
	overflow:auto;
}
